/* Global */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.rounded {
  border-radius: 16px;
}

/*  */

/* Structure */
a {
  text-decoration: none;
}

.topNavLogo {
  position: relative;
  width: 200px;
  height: 50px;
}

.homeLogo {
  position: relative;
  width: 24px;
  height: 24px;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-family: 'Markazi Text', serif;
}

main {
  font-family: 'Markazi Text', serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}


.navigation>ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 1rem;
  font-size: 20px;
}

.navigation>ul>li {
  margin-right: 1rem;
}

.navigation>ul>li:hover {
  font-size: 20.9px;
  transition: .5s;
  text-decoration: underline;
  text-decoration-color: #333333;
}

.navigation>ul>li>a {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  color: #333333;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #495e57;
}

@media screen and (max-width: 992px) {

  header,
  .navigation,
  main,
  .navigation>ul,
  footer,
  .contact>ul>h5,
  .socialMedia>ul>h5,
  .ctaContainer,
  .ctaContainer>article,
  .ctaContainer>article>p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footerNav>ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
}

.footerNav>ul>li {
  padding-bottom: .5rem;
  font-size: 18px;
}

.footerNav>ul>li:hover {
  font-size: 20px;
  transition: .5s;
  text-decoration: underline;
  text-decoration-color: #333333;
}

.footerNav>ul>li>a {
  color: #EDEFEE;
  font-family: 'Markazi Text', serif;
}

.footerLogo {
  position: relative;
  bottom: 3rem;
}

.contact>ul {
  display: flex;
  position: relative;
  bottom: 1rem;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  font-family: 'Markazi Text', serif;
}

.contact>ul>h5 {
  font-size: 20px;
  color: #333333;
}

.contact>ul>li {
  padding-bottom: .5rem;
  font-size: 18px;
}

.contact>ul>li {
  color: #EDEFEE;
}

.socialMedia>ul {
  display: flex;
  position: relative;
  bottom: 1rem;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  font-family: 'Markazi Text', serif;
}

.socialMedia>ul>h5 {
  font-size: 20px;
  color: #333333;
}

.socialMedia>ul>li {
  padding-bottom: .5rem;
  font-size: 18px;
}

.socialMedia>ul>li:hover {
  font-size: 20px;
  transition: .5s;
}

.socialMedia>ul>li>a {
  color: #EDEFEE;
}

/*  */

/* Call To Action */
.ctaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
  font-family: 'Markazi Text', 'Karla', sans-serif;
}

.ctaContainer > article >h1 {
  color: #F4CE14;
}

.ctaContainer > article > h2 {
  color: #EDEFEE;
  margin-top: -2rem;
}

.ctaContainer>article>button {
  padding: .5rem;
  font-family: 'Markazi Text', 'Karla', 'sans-sarif';
  background-color: #F4CE14;
}

.ctaContainer>article {
  margin-left: 2rem;
  width: 20%;
}



.ctaContainer>article>p {
  line-height: 1.5;
  color: #EDEFEE;
}

.ctaImage {
  width: 30rem;
  height: 40rem;
  position: relative;
  top: 100px;
  border-radius: 16px;
  margin-left: 2rem;
}